*{ /* reseteo margenes para todos los navegadores */
    margin: 0;
    padding: 0;
}
/* Colores */
body{
    background-color: black;
    color: white;
}
section{
    background-color: brown;
}
article{
    background-color: darkred;
}
/* Ubicacion o Layout */
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;    
}
#panelProductos{
    grid-column: 1 / -2;
    
}
#panelCarro{
    grid-column: -2 / -1;
}
section{
    display: inline-grid;
    grid-template-columns: repeat(3, 1fr);
    
}
article, section{
    border-radius: 10px;
    padding: 10px;
}
article{
    max-width: 200px; 
}
.titulo{
    grid-column: 1 / -1;
    
}
/*  */