* {
    margin: 0;
    padding: 0;
}
/* colores */
body{
    background-color: darkgreen;
    color: yellow;
}
section{
    background-color: black;
}
article{
    background-color: darkolivegreen;
    border-radius: 10px;
    padding: 10px;
}

/* layout o capas o maquetado */
body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.puntapunta {
    grid-column: 1 / -1;
}
#panelProductos {
    grid-column: 1 / -2;
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    
}
#panelCarrito {
    grid-column: -2 / -1;
}

img{
    width: 50px;
}
